<!DOCTYPE html>
<html>

<head>
    <link href="../public/css/theme.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Syed Moonis Iqbal</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">My_Website</a>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Item</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="audio.html">Audio</a></li>
                        <li><a class="dropdown-item" href="list.html">List</a></li>
                        <li><a class="dropdown-item" href="table.html">Table</a></li>
                        <li><a class="dropdown-item" href="video.html">Video</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="storefront.html">Storefront</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>List Page</h1>
    <p>Welcome to list.html! This is a webpage which uses HTML5's built in
        functionality to create and display a list</p>

    <h3>Lists</h3>
    <ol>
        <ut>Bell Pepper</ut>
        <ul>
            <li>Calories: 20</li>
            <li>Sodium: 40mg</li>
            <li>Potassium: 220mg</li>
            <li>Sugars: 4g</li>
        </ul>

        <ut>Broccoli</ut>
        <ul>
            <li>Calories: 45</li>
            <li>Sodium: 80mg</li>
            <li>Potassium: 460mg</li>
            <li>Sugars: 2g</li>
        </ul>

        <ut>Carrots</ut>
        <ul>
            <li>Calories: 30</li>
            <li>Sodium: 60mg</li>
            <li>Potassium: 250mg</li>
            <li>Sugars: 5g</li>
        </ul>

        <ut>Celery</ut>
        <ul>
            <li>Calories: 15</li>
            <li>Sodium: 115mg</li>
            <li>Potassium: 260mg</li>
            <li>Sugars: 3g</li>
        </ul>

    </ol>

</body>

</html>